includes:
    - ./vendor/nunomaduro/larastan/extension.neon

parameters:

    paths:
        - app/

    # Level 9 is the highest level
    level: 8

    excludePaths:
        - app/Http/Controllers/Auth
        - app/Http/Controllers/ProfileController.php
        - app/Http/Requests/Auth
        - app/Http/Requests/ProfileUpdateRequest